<div class="nav">
  <div class="container">
    <div class="logo">
      <img src="../../../assets/image/logo.png" alt="Ảnh logo">
    </div>
    <div class="menu">
      <div class="list-item">
        <div class="item">Giải pháp</div>
        <div class="item">Giới thiệu</div>
        <div class="item">Tuyển dụng</div>
        <div class="item">Liên hệ</div>
      </div>
    </div>
    <div class="search">
      <div class="search-container">
        <input type="text" name="search" placeholder="Search..." class="search-input">
        <a href="#" class="search-btn">
          <i class="fas fa-search" style="color: ff8000;"></i>
        </a>
      </div>
    </div>
  </div>
</div>