body {
  width: 100%;
  margin: 0px;
  background-color: #f6f5f2;
  font-family: "Montserrat", Sans-serif;
}
.container {
  width: 100%;
  .view-all {
    margin-top: 70px;
    .page {
      width: 80%;
      background-color: #ffffff;
      margin: 0 auto;
      border-radius: 15px;
    }
  }
}

.clearfix {
  clear: both;
  content: "";
}
.title {
  font-size: 32px;
  color: #ff8000;
}
.text-link {
  color: #ff8000;
  text-decoration: none;
  font-size: 20px;
  margin: 5px;
}
.text {
  font-size: 20px;
}
.c3333 {
  color: #333333;
}
.avatar {
  width: 60px;
  height: 60px;
  border-radius: 30px;
  object-fit: cover;
}
.text-content {
  font-family: "Montserrat", Sans-serif !important;
  font-size: 16px;
  letter-spacing: 0;
  white-space: pre-wrap;
  margin: 0px !important;
  color: #000000;
}
