body {
  width: 100%;
  margin: 0px;
  background-color: #f6f5f2;
  font-family: "Montserrat", Sans-serif;
}
.container {
  width: 100%;
  .view-all {
    margin-top: 70px;
    .page {
      width: 80%;
      background-color: #ffffff;
      margin: 0 auto;
    }
  }
}

.clearfix {
  clear: both;
  content: "";
}
.title {
  font-size: 32px;
  color: #ff8000;
}
