<div class="view-all" style="margin-top: 100px;">
  <div class="page">
    <h1 class="title" style="padding-top: 10px;">THÔNG TIN CHI TIẾT</h1>
    <div class="photos">
      <div class="main-photo">
        <img src="../../../assets/district/bac_tu_liem.png" alt="">
      </div>
      <div class="sub-photo">
        <div class="item">
          <img src="../../../assets/district/quan_ba_dinh.jfif" alt="">
        </div>
        <div class="item">
          <img src="../../../assets/district/quan_hai_ba_trung.jfif" alt="">
        </div>
        <div class="item">
          <img src="../../../assets/district/quan_nam_tu_liem.jfif" alt="">
        </div>
        <div class="item">
          <img src="../../../assets/district/quan_hoang_mai.jfif" alt="">
        </div>
      </div>
    </div>
    <div class="content">
      <div class="title-infor">
        <h2 class="title-content c3333">Phòng cho thuê Đường Phạm Hùng, Quận Cầu Giấy</h2>
        <button class="share">
          <i class="fa fa-share-alt" aria-hidden="true"></i>
          Chia sẻ
        </button>
      </div>
      <div class="breadcrumb">
        <a [routerLink]="['/home']" class="text-link">Hà Nội</a>
        <span class="c3333">></span>
        <a [routerLink]="['/home']" class="text-link">Cầu Giấy</a>
        <span class="c3333">></span>
        <span class="text c3333">Đường Phạm Hùng</span>
      </div>
      <div class="infor">
        <div class="infor-room">
          <div class="infor-room-title">
            <i class="fas fa-house-user fa-lg" style="margin-right: 5px;"></i>
            <h2 class="title-content c3333">Thông tin phòng</h2>
          </div>
          <div class="infor-room-category">
            <div class="category">
              <p>Giá phòng</p>
              <p>5.000.000</p>
            </div>
            <div class="category">
              <p>Diện tích</p>
              <p>35 mét vuông</p>
            </div>
            <div class="category">
              <p>Đặt cọc</p>
              <p>5.000.000</p>
            </div>
            <div class="category">
              <p>Sức chứa</p>
              <p>3-5 người</p>
            </div>
          </div>
          <div class="infor-room-category">
            <div class="category">
              <p>Điện</p>
              <p>4.000 đồng</p>
            </div>
            <div class="category">
              <p>Nước</p>
              <p>25.000 đồng</p>
            </div>
            <div class="category">
              <p>Wifi</p>
              <p>100.000 đồng</p>
            </div>
            <div class="category">
              <p>Trạng thái</p>
              <p style="color: #1EDB4C;font-weight: bold;">Còn phòng</p>
            </div>
          </div>
          <div class="infor-room-address">
            <p>Địa chỉ</p>
            <p>173 Đường Phạm Hùng, Phường Trung Hoà, Quận Cầu Giấy, Hà Nội</p>
          </div>
          <div class="infor-room-other">
            <div class="infor-room-title">
              <i class="fas fa-house-user fa-lg" style="margin-right: 5px;"></i>
              <h2 class="title-content c3333">Tiện ích và mô tả</h2>
            </div>
            <div class="infor-room-content">
              <pre class="text-content ">
            Cho người nước ngoài và hộ gia đình, sinh viên người đi làm thuê căn hộ khách sạn cao cấp khép kín có ban công thoáng
            mát
            - Diện tích 35- 45m2
            - Giá: chỉ từ 5 đến 6 triệu
            - Nội thất: sàn gỗ nhập khẩu,trần Led,tivi smart, tủ lạnh sharp thái lan,bếp từ đôi thái
            - Giường tủ hiện đại,đệm cao cấp
            - Nước nóng dung năng lượng mặt trời đun 24/7 giảm tiền điện bạn phải đun nước nóng
            - Đèn sưởi phòng tắm cao cấp mùa đông bạn khỏi lo sợ tắm và giá lạnh
            - Tivi box FPT với kho phim truyện HBO cùng hang ngàn phim khủng, ca nhạc, phim chiếu rạp giải trí đỉnh cao với màn hình
            trên 60 inh
            - Tủ lạnh 165l sharp thái inverter tiết kiệm điện
            - Bếp từ đôi nhập khẩu khỏi lo mua ga làm gì cho nóng
            - Điều hòa mới siêu mát inverter tiết kiệm điện
            - Máy giặt sharp nhập khẩu indonexia giặt quần áo đảm bảo
            - Ban công phơi đồ rộng thoáng mát: phơi quần áo, trồng cây cảnh, uống cà phê rất mát
            - Quạt mát cũng được trang bị cho thoáng phòng
            - Liên hệ chính chủ: 0904964437
            - Địa chỉ: số 173 Phố Phạm Hùng cách kangnam 500m ngay sát trung tâm hội nghị quốc gia và khách sạn Marriot
            - Miễn môi giới trung gian, xem nhà hoàn toàn miễn phí - Bạn muốn xem video và thêm thông tin về phòng vui lòng qua zalo
            : 0977972780 xin cảm ơn
              </pre>
            </div>
          </div>
        </div>
        <div class="infor-master">
          <div class="infor-master-title">
            <i class="fas fa-user fa-lg" style="margin-right: 5px;"></i>
            <h2 class="title-content c3333">Thông tin chủ phòng</h2>
          </div>
          <div class="infor-master-content">
            <div class="item">
              <img class="avatar" src="../../../assets/image/LEWLEW.png" alt="avatar">
              <div class="name">
                <p>Vũ Minh Tân</p>
                <p>SĐT:0865431381</p>
              </div>
            </div>
            <div class="item" style="margin-left: 10px;">
              <p>Ngày đăng:01/03/2001</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>