<div class="view-all">
  <div class="page">
    <h1 class="title" style="padding-top: 10px;">THÔNG TIN CHI TIẾT</h1>
    <div class="photos">
      <div class="main-photo">
        <img src="../../../assets/district/bac_tu_liem.png" alt="">
      </div>
      <div class="sub-photo">
        <div class="item">
          <img src="../../../assets/district/quan_ba_dinh.jfif" alt="">
        </div>
        <div class="item">
          <img src="../../../assets/district/quan_hai_ba_trung.jfif" alt="">
        </div>
        <div class="item">
          <img src="../../../assets/district/quan_nam_tu_liem.jfif" alt="">
        </div>
        <div class="item">
          <img src="../../../assets/district/quan_hoang_mai.jfif" alt="">
        </div>
      </div>
    </div>
    <div class="content">
      <div class="title-infor">
        <h2 class="title-content c3333">Phòng cho thuê Đường Phạm Hùng, Quận Cầu Giấy</h2>
        <button class="share">
          <i class="fa fa-share-alt" aria-hidden="true"></i>
          Chia sẻ
        </button>
      </div>
      <div class="breadcrumb">
        <a [routerLink]="['/home']" class="text-link">Hà Nội</a>
        <span class="c3333">></span>
        <a [routerLink]="['/home']" class="text-link">Cầu Giấy</a>
        <span class="c3333">></span>
        <span class="text c3333">Đường Phạm Hùng</span>
      </div>
      <div class="infor">
        <div class="infor-room">
          <div class="infor-room-title">
            <i class="fas fa-house-user fa-lg" style="margin-right: 5px;"></i>
            <h2 class="title-content c3333">Thông tin phòng</h2>
          </div>
          <div class="infor-room-category">
            <div class="category">
              <p>Giá phòng</p>
              <p>5.000.000</p>
            </div>
            <div class="category">
              <p>Diện tích</p>
              <p>35 mét vuông</p>
            </div>
            <div class="category">
              <p>Đặt cọc</p>
              <p>5.000.000</p>
            </div>
            <div class="category">
              <p>Sức chứa</p>
              <p>3-5 người</p>
            </div>
          </div>
          <div class="infor-room-category">
            <div class="category">
              <p>Điện</p>
              <p>4.000 đồng</p>
            </div>
            <div class="category">
              <p>Nước</p>
              <p>25.000 đồng</p>
            </div>
            <div class="category">
              <p>Wifi</p>
              <p>100.000 đồng</p>
            </div>
            <div class="category">
              <p>Trạng thái</p>
              <p style="color: #1EDB4C;font-weight: bold;">Còn phòng</p>
            </div>
          </div>
          <div class="infor-room-address">
            <p>Địa chỉ</p>
            <p>173 Đường Phạm Hùng, Phường Trung Hoà, Quận Cầu Giấy, Hà Nội</p>
          </div>
          <div class="infor-room-other">
            <i class="far fa-air-conditioner"></i>
            <div class="item">
              <p>máy lạnh</p>
            </div>
            <div class="item">
              <i class="fal fa-toilet"></i>
              <p>vệ sinh riêng</p>
            </div>
            <div class="item">
              <i class="fas fa-washer"></i>
              <p>máy giặt</p>
            </div>
            <div class="item">
              <i class="fal fa-refrigerator"></i>
              <p>tủ lạnh</p>
            </div>
            <div class="item">
              <i class="far fa-clock"></i>
              <p>tự do</p>
            </div>
            <div class="item">
              <i class="far fa-shower"></i>
              <p>nóng lạnh</p>
            </div>
            <div class="item">
              <i class="fal fa-key"></i>
              <p>Không chung chủ</p>
            </div>
            <div class="item">
              <i class="fal fa-air-conditioner"></i>
              <p>máy lạnh</p>
            </div>
            <div class="item">
              <i class="fal fa-bed-alt"></i>
              <p>Giường ngủ</p>
            </div>
            <div class="item">
              <i class="fal fa-cabinet-filing"></i>
              <p>Tủ quần áo</p>
            </div>
            <div class="item">
              <i class="far fa-cauldron"></i>
              <p>bếp nấu ăn</p>
            </div>
            <div class="item">
              <i class="fal fa-air-conditioner"></i>
              <p>máy lạnh</p>
            </div>
            <div class="item">
              <i class="fal fa-air-conditioner"></i>
              <p>máy lạnh</p>
            </div>
            <div class="item">
              <i class="fas fa-microwave"></i>
              <p>máy lạnh</p>
            </div>
          </div>
        </div>
        <div class="infor-master">
          <div class="infor-master-title">
            <i class="fas fa-user fa-lg" style="margin-right: 5px;"></i>
            <h2 class="title-content c3333">Thông tin chủ phòng</h2>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>