<div class="background">
  <div class="text-content">
    <h1 class="text-name">FIND HOUSE</h1>
    <h2 class="text-title">Trang web tìm kiếm phòng trọ khu vực hà nội</h2>
    <h2 style="line-height: 50px;">Tiện nghi đầy đủ, dịch vụ tận tâm,dễ dàng tìm kiếm, thích hợp cho đối tượng sinh viên
      và công nhân sinh sống tại Hà Nội</h2>
  </div>
</div>
<div class="page">
  <div class="content">

  </div>
  <h1 class="title">Các quận thành trung tâm thành phố</h1>
  <div class="slider">
    <div class="slide-track">
      <div class="slide">
        <img src="../../../assets/district/bac_tu_liem.png" height="100" width="250" alt="" />
        <span class="text-name">bắc từ liêm</span>
      </div>
      <div class="slide">
        <img src="../../../assets/district/quan_ba_dinh.jfif" height="100" width="250" alt="" />
        <span class="text-name">Ba Đình</span>
      </div>
      <div class="slide">
        <img src="../../../assets/district/quan_cau_giay.jfif" height="100" width="250" alt="" />
        <span class="text-name">Cầu Giấy</span>
      </div>
      <div class="slide">
        <img src="../../../assets/district/quan_dong_da.jfif" height="100" width="250" alt="" />
        <span class="text-name">Đống Đa</span>
      </div>
      <div class="slide">
        <img src="../../../assets/district/quan_hai_ba_trung.jfif" height="100" width="250" alt="" />
        <span class="text-name">Hai Bà Trưng</span>
      </div>
      <div class="slide">
        <img src="../../../assets/district/quan_hoan_kiem.jfif" height="100" width="250" alt="" />
        <span class="text-name">hello</span>
      </div>
      <div class="slide">
        <img src="../../../assets/district/quan_hoang_mai.jfif" height="100" width="250" alt="" />
        <span class="text-name">hello</span>
      </div>
      <div class="slide">
        <img src="../../../assets/district/quan_long_bien.jfif" height="100" width="250" alt="" />
        <span class="text-name">hello</span>
      </div>
      <div class="slide">
        <img src="../../../assets/district/quan_nam_tu_liem.jfif" height="100" width="250" alt="" />
        <span class="text-name">hello</span>
      </div>
      <div class="slide">
        <img src="../../../assets/district/quan_tay_ho.jfif" height="100" width="250" alt="" />
        <span class="text-name">hello</span>
      </div>
      <div class="slide">
        <img src="../../../assets/district/quan_thanh_xuan.jfif" height="100" width="250" alt="" />
        <span class="text-name">hello</span>
      </div>
      <div class="slide">
        <img src="../../../assets/district/quan_thanh_xuan.jfif" height="100" width="250" alt="" />
        <span class="text-name">hello</span>
      </div>
      <div class="slide">
        <img src="../../../assets/district/quan_thanh_xuan.jfif" height="100" width="250" alt="" />
        <span class="text-name">hello</span>
      </div>
      <div class="slide">
        <img src="../../../assets/district/quan_thanh_xuan.jfif" height="100" width="250" alt="" />
        <span class="text-name">hello</span>
      </div>
    </div>
  </div>
</div>